body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  #myForm {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #aaa;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  input[type="button"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
  }
  input[type="button"]:hover {
    background-color: #444;
  }
  #result {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: #333;
    display: none;
  }